.restaurant-name{
    font-weight: bolder;
    font-style: italic;
    -webkit-text-stroke: 2px black;
    font-size: 5rem;

}

.product-img{
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 10px;}
    
.btn-carousel{
    height: min-content;
    width: min-content;
    background-color: white;
    border-radius: 50%;
}
