<section class="container-fluid text-center banner">
    <h1 class="p-5 text-light">Seguimiento del pedido</h1>
</section>

<section class="container-fluid text-center d-flex justify-content-center py-5">
    <div class="row">
        <div class="card-confirm">
            <div class="card d-flex flex-row p-5">

                <div class="card-body text-start">
                    <h5 class="card-title fs-1">{{ pedido.name }}</h5>
                    <p class="card-text fs-4 text-secondary-emphasis">{{ pedido.description }}</p>
                    <p class="card-text fs-4 text-secondary-emphasis fw-semibold">Cantidad: {{ pedido.cantidad}}</p>
                    <p class="card-title fs-4 fw-semibold">Estado: <span [ngClass]="{
                        'text-warning': pedido.estado === 'PENDIENTE',
                        'text-primary': pedido.estado === 'EN PREPARACION' || pedido.estado === 'LISTO',
                        'text-info': pedido.estado === 'EN CAMINO',
                        'text-success': pedido.estado === 'ENTREGADO',
                        'text-danger': pedido.estado === 'RECHAZADO'
                      }">{{ pedido.estado }}</span></p>
                    <button class="btn btn-danger fw-semibold fs-5 px-4 py-3">
                        Rechazar
                    </button>
                </div>

                <img src="assets/burger-product.svg" class="card-img-top product-img m-3" [alt]="pedido.name">
                <!-- [src]="product.image" -->


            </div>

        </div>
    </div>
</section>