<section class="container-fluid row m-0 p-0 ">

    <div class="col-6 first-section p-0 position-relative">
        <div class="d-flex flex-row p-5">
            <h1 class="text-nowrap ps-5 pt-3">Pedi ahora,</h1>
            <h1 class="px-3 saborea pt-3">saborea</h1>
            <h1 class="despues pt-3">después.</h1>
        </div>
        <img src="assets/comida-portada.png" alt="" class="position-absolute bottom-0 end-0 px-5">
        <button
            class="px-5 py-2 fs-4 btn-pedidos text-light position-absolute bottom-0 start-0 fst-italic text-center">Ir a
            pedidos</button>
    </div>

    <div class="col-6 p-0">
        <img src="assets/bolsa-portada.png" alt="" class="portada">
    </div>

</section>

<section class="container search-container py-5">

    <div class="form-outline" data-mdb-input-init>
        <input type="search" id="form1" class="form-control" placeholder="Busca productos" aria-label="Search" />
    </div>

</section>

<section class="container-fluid m-0 p-0">

    <div class="container-fluid productos-banner py-4 px-5 m-0 banner">
        <p class="text-light fs-1 ">Productos</p>
    </div>

    <div class="container-fluid my-5 mx-0">
        <div id="productCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <div *ngFor="let group of getProductGroups(); let first = first" class="carousel-item"
                    [ngClass]="{'active': first}">
                    <div class="row">
                        <div *ngFor="let product of group" class="col-md-4">
                            <div class="card d-flex flex-row">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                    <h4 class="card-title">$ {{ product.price }}</h4>
                                    <button class="btn btn-success fw-semibold fs-5">Comprar</button>
                                </div>
                                <img src="assets/burger-product.svg" class="card-img-top product-img m-3" [alt]="product.name">  
                                <!-- [src]="product.image" -->

                                
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>

            <!-- Controles del Carousel -->
            <button class="carousel-control-prev btn-carousel p-3 mt-5 mx-5" type="button" data-bs-target="#productCarousel" data-bs-slide="prev" >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next btn-carousel p-3 mt-5 mx-5" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon " aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <!-- Controles del Carousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
    

</section>

<section class="container-fluid m-0 p-0">

    <div class="container-fluid locales-banner py-4 px-5 m-0 banner">
        <p class="text-light fs-1 ">Locales</p>
    </div>

    <div class="container-fluid my-0 mx-0">
        <div id="restaurantCarousel" class="carousel slide carousel-dark" data-bs-ride="carousel">
          <div class="carousel-inner py-5">
            
            <div *ngFor="let group of getRestaurantGroups(); let first = first" class="carousel-item" [ngClass]="{'active': first}">
              <div class="row">
                <div *ngFor="let restaurant of group" class="col-md-3">
                  <div class="card restaurant-card" (click)="goToMenu(restaurant.id)">
                    <img src="assets/restaurant-img.svg" class="card-img-top img-restaurante" [alt]="restaurant.name">
                    <!-- [src]="restaurant.image" -->
                    <div class="card-body text-center">
                      <h5 class="card-title">{{ restaurant.name }}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
          </div>
      
          <!-- Controles del Carousel -->
          <button class="carousel-control-prev btn-carousel p-3 mx-5 btn-carousel-res" type="button" data-bs-target="#restaurantCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button class="carousel-control-next btn-carousel p-3 mx-5 btn-carousel-res" type="button" data-bs-target="#restaurantCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>

        </div>
      </div>
      

</section>