.banner{
    background-color: #F69309;
}
.banner h1{
    font-weight: bolder;
    font-style: italic;
}
.banner2{
    background-color: #303030;
    font-weight: bolder;
    font-style: italic;

}
.card-confirm{
    width: 60vw;
}
.card-confirm img{
    width: 300px;
}
.input-confirm{
    width: 50px;
}

.product-img{
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 10px;}
    
.btn-carousel{
    height: min-content;
    width: min-content;
    background-color: white;
    border-radius: 50%;
}